# Python
__pycache__/
*.py[cod]
*.so
venv/
*.egg-info/
dist/
build/

# Django
backend/media/uploads/*
backend/staticfiles/
backend/db.sqlite3

# Node
node_modules/
.next/
out/

# Environment
.env
.env.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
